{% extends "shared/_layout.html" %}
{% block content %}

    <div class="content">
        <div>
            <form action="" method="POST" class="account-form">
                <h1>Login</h1>
                <input name="email" type="email" placeholder=" Your email address " class="form-control"
                       value="{{ stringify(email) }}"
                >
                <input name="password" type="password" placeholder=" Password" class="form-control"
                       value="{{ stringify(password) }}"
                >
                <button type="submit" class="btn btn-success">Login</button>
                {% if error %}
                    <div class="error-msg">
                        {{ error }}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}
