{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": 0,
        "comma-dangle": 0
    }
}