<form [formGroup]="carForm">
    <div>
      <label for="make-input">Make:</label>
      <input type="text" id="make-input" formControlName="make">
    </div>
    <div>
      <label for="model-input">Model:</label>
      <input type="text" id="model-input" formControlName="model">
    </div>
    <div>
      <label for="year-input">Year:</label>
      <input type="number" id="year-input" formControlName="year">
    </div>
    <div>
      <label for="color-input">Color:</label>
      <input type="text" id="color-input" formControlName="color">
    </div>
    <div>
      <label for="price-input">Price:</label>
      <input type="number" id="price-input" formControlName="price">
    </div>
    <button (click)="doSubmitCar()">{{buttonText}}</button>
  </form>